<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <link type="text/css" rel="stylesheet" href="/stylesheets/stylesheet.css"/>
        <script type="text/javascript" src="/javascripts/angular.min.js"></script>
        <script type="text/javascript" src="/javascripts/angular-route.min.js"></script>
        <script type="text/javascript" src="/javascripts/app.js"></script>
        <script type="text/javascript" src="/javascripts/controllers/DesignController.js"></script>
        <title>
            casie siekman
        </title>
    </head>
    <body>
        <main ng-view></main>
    </body>
</html>
