<link type="text/css" rel="stylesheet" href="/stylesheets/stylesheet_design.css"/>
<div class="nav">

    <a href="#writing"><img class="nav_img" src="/images/flamingo_writing.png" width="100px" height="100px" onMouseOver="this.src='/images/flamingo_card.png'" onMouseOut="this.src='/images/flamingo_writing.png'"/></a>

    <a href="#web"><img class="nav_img" src="/images/deer_web.png" width="100px" height="100px" onMouseOver="this.src='/images/deer_card.png'"
                         onMouseOut="this.src='/images/deer_web.png'"/></a>

    <a href="#design"><img class="nav_img" src="/images/fox_card.png" width="100px"/></a>

    <a href="#the_rest"><img class="nav_img" src="/images/rhino_rest.png" width="100px" height="100px" onMouseOver="this.src='/images/rhino_card.png'" onMouseOut="this.src='/images/rhino_rest.png'"/></a>

    <a href="#nice_art"><img class="nav_img"src="/images/buffalo_nice.png" width="100px" height="100px" onMouseOver="this.src='/images/buffalo_card.png'" onMouseOut="this.src='/images/buffalo_nice.png'"/></a>

    <a href="#resume"><img class="nav_img"src="/images/trex_resume.png" width="100px" height="100px" onMouseOver="this.src='/images/trex_card.png'" onMouseOut="this.src='/images/trex_resume.png'"/></a>
</div>
<!--header-->
<h1 class="banner_h1">design examples</h1>
<h2 class="about_me">
    In my spare time, I design show posters and logos to gain more experience with Photoshop, Illustrator and InDesign.
</h2>

<div class="pmh">
    <h1 class="title">Posters</h2>
        <h2 class="job">2011-2013</h2>
        <br/>
        <div class="web">
            <div class="wrap">
                <img class="screenshot" src="/images/loathing.jpg" width="400px">
                <img class="screenshot" src="/images/rig_poster.jpg" width="400px">
                <img class="screenshot" src="/images/lapwings.jpg" width="400px">
                <img class="screenshot" src="/images/hitchhikers.jpg" width="400px">
            </div>
        </div>
</div>

<div class="graves">

    <h1 class="title">logos</h1>
    <h2 class="job">2011-2013</h2>
    <br/>
    <div class="web">
        <div class="wrap">
            <img class="screenshot" src="/images/4SA_Queen.png" width="400px">
            <img class="screenshot" src="/images/4SA.png" width="400px">
            <img class="screenshot" src="/images/sunburst.png" width="353">
            <img class="screenshot" src="/images/art_hollow.jpg" width="400px">
        </div>
    </div>

</div>


<div class="af">
    <h1 class="title">Post-it Forward creative presentation</h1>
    <h2 class="job">2013</h2>
    <br/>
    <div class="web">
        <div class="wrap">
            <a href="/images/Creative_Presentation_Post_It.pdf" target="_blank"><img class="screenshot" src="/images/post.png" width="481px"></a>
            <p class="subhead">click to see a super fantastic, creative presentation </p>
        </div>
    </div>
    <br/>
    <br/>

    <h1 class="title">KISS photo story</h1>
    <h2 class="job">2011</h2>
    <br/>
    <div class="web">
        <div class="wrap">
            <a href="/images/kiss_final.pdf" target="_blank"><img class="screenshot" src="/images/kiss.jpg" width="870px"></a>
            <p class="subhead">click to see what happens next!</p>
        </div>
    </div>
</div>

<div class="footer">
    <a href="#first"><div class="home_btn">HOME</div></a>
</div>