<h1 class="banner_h1">Casie Siekman</h1>
<p class="banner_sub">Food lover, Wine drinker, Music Creator, Coding Enthusiast, Hilarious Human.</p>
<p class="head_content">Well I'm an axegrinder.
    <br/> Piledriver.
    <br/>Mother says that I never never mind her.
    <br/>Got no brains I'm insane.
    <br/>Teacher says that I'm one big pain.
    <br/>I'm like a laser, 6-string razor.
    <br/>I got a mouth like an alligator.
    <br/><span class="big">I want it louder.</span>
    <br/><span class="bigger">More power.</span>
    <br/><span class="biggest">I'm gonna rock ya till it strikes the hour.</span>
</p>
<br/>
<a href="#writing"><img src="/images/flamingo_writing.png" width="160px" height="160px" onMouseOver="this.src='/images/flamingo_card.png'" onMouseOut="this.src='/images/flamingo_writing.png'"/></a>

<a href="#web"><img src="/images/deer_web.png" width="160px" height="160px" onMouseOver="this.src='/images/deer_card.png'"
                    onMouseOut="this.src='/images/deer_web.png'"/></a>

<a href="#design"><img src="/images/fox_design.png" width="160px" height="160px" onMouseOver="this.src='/images/fox_card.png'"
                       onMouseOut="this.src='/images/fox_design.png'"/></a>

<a href="#the_rest"><img src="/images/rhino_rest.png" width="160px" height="160px" onMouseOver="this.src='/images/rhino_card.png'" onMouseOut="this.src='/images/rhino_rest.png'"/></a>

<a href="#nice_art"><img src="/images/buffalo_nice.png" width="160px" height="160px" onMouseOver="this.src='/images/buffalo_card.png'" onMouseOut="this.src='/images/buffalo_nice.png'"/></a>

<a href="#resume"><img src="/images/trex_resume.png" width="160px" height="160px" onMouseOver="this.src='/images/trex_card.png'" onMouseOut="this.src='/images/trex_resume.png'"/></a>
 