<link type="text/css" rel="stylesheet" href="/stylesheets/stylesheet_art.css"/>
<div class="nav">

    <a href="#writing/"><img class="nav_img" src="/images/flamingo_writing.png" width="100px" height="100px" onMouseOver="this.src='/images/flamingo_card.png'" onMouseOut="this.src='/images/flamingo_writing.png'"/></a>

    <a href="#web/"><img class="nav_img" src="/images/deer_web.png" width="100px" height="100px" onMouseOver="this.src='/images/deer_card.png'"
                         onMouseOut="this.src='/images/deer_web.png'"/></a>

    <a href="#design/"><img class="nav_img" src="/images/fox_design.png" width="100px" height="100px" onMouseOver="this.src='/images/fox_card.png'"
                            onMouseOut="this.src='/images/fox_design.png'"/></a>

    <a href="#all_the_rest/"><img class="nav_img" src="/images/rhino_rest.png" width="100px" height="100px" onMouseOver="this.src='/images/rhino_card.png'" onMouseOut="this.src='/images/rhino_rest.png'"/></a>

    <a href="#nice_art/"><img class="nav_img"src="/images/buffalo_card.png" width="100px"/></a>

    <a href="#resume/"><img class="nav_img" src="/images/trex_resume.png" width="100px" height="100px" onMouseOver="this.src='/images/trex_card.png'" onMouseOut="this.src='/images/trex_resume.png'"/></a>

</div>

<!--header-->

<h1 class="banner_h1">NICE art</h1>
<h2 class="about_me">
    Below is my personal artwork, created with nails and thread. I've started to use reclaimed wood from the fine fellows at <a href="http://www.woodfromthehood.com">Wood From The Hood</a>. Pieces are available at <a href="http://www.ilikeyouonline.com" target="_blank">I Like You | MPLS,MN</a> or you can <a href="mailto:casie.siekman@gmail.com">email me</a> to set up a custom order.

</h2>


<div class="frogs">
    <img src="/images/mn_logo1.png" width="400px"/>
    <h1 class="title">Minnesota Art</h1>
    <h2 class="job">available at <a href="http://www.ilikeyouonline.com" target="_blank">I Like You | MPLS,MN</a></h2>
    <br/>
    <img class="mn_art" src="/images/blue_black.jpg" width="335px"/>
    <img class="mn_art" src="/images/blue_white.jpg" width="335px"/>
    <img class="mn_art" src="/images/blue_white2.jpg" width="335px"/>
    <img class="mn_art" src="/images/blackout.jpg" width="335px"/>
    <img class="mn_art" src="/images/wood_black.jpg" width="335px"/>
    <img class="mn_art" src="/images/drkblue_white.jpg" width="335px"/>
</div>

<div class="graves">
    <img src="/images/mn_logo1.png" width="335px"/>
    <h1 class="title">Other states and styles</h1>
    <h2 class="job">for custom orders, please <a href="casie.siekman@gmail.com">email me</a></h2>
    <h2 class="job"></h2>
    <img class="misc_art" src="/images/northstars.jpg" width="335px"/>
    <img class="misc_art" src="/images/illinois.jpg" width="335px"/>
    <img class="misc_art" src="/images/montana.jpg" width="335px"/>

</div>
<div class="footer">
    <a href="#first"><div class="home_btn">HOME</div></a>
</div>
