<link type="text/css" rel="stylesheet" href="/stylesheets/stylesheet_rest.css"/>
<div class="nav">

    <a href="#writing/"><img class="nav_img" src="/images/flamingo_writing.png" width="100px" height="100px" onMouseOver="this.src='/images/flamingo_card.png'" onMouseOut="this.src='/images/flamingo_writing.png'"/></a>

    <a href="#web/"><img class="nav_img" src="/images/deer_web.png" width="100px" height="100px" onMouseOver="this.src='/images/deer_card.png'"
                         onMouseOut="this.src='/images/deer_web.png'"/></a>

    <a href="#design/"><img class="nav_img" src="/images/fox_design.png" width="100px" height="100px" onMouseOver="this.src='/images/fox_card.png'"
                            onMouseOut="this.src='/images/fox_design.png'"/></a>

    <a href="#the_rest/"><img class="nav_img" src="/images/rhino_card.png" width="100px"/></a>

    <a href="#nice_art/"><img class="nav_img"src="/images/buffalo_nice.png" width="100px" height="100px" onMouseOver="this.src='/images/buffalo_card.png'" onMouseOut="this.src='/images/buffalo_nice.png'"/></a>

    <a href="#resume/"><img class="nav_img" src="/images/trex_resume.png" width="100px" height="100px" onMouseOver="this.src='/images/trex_card.png'" onMouseOut="this.src='/images/trex_resume.png'"/></a>

</div>
<h2 class="about_me">
    <img class="me" src="/images/casie4.jpg" width="190px"/>
    <br/>

    <h2 class="job"><a href="https://www.youtube.com/channel/UC9wcwOIp8DzXWvbOeSes0yQ" target="_blank">MUSIC</a></h2>
    <hr>
    <br/>
    <h2 class="job"><a href="https://casiesiekman.wordpress.com/" target="_blank">BLOG</a></h2>
    <hr>
</h2>

<div class="footer">
    <a href="#first"><div class="home_btn">HOME</div></a>
</div>