
<link type="text/css" rel="stylesheet" href="/stylesheets/stylesheet_web.css"/>

<div class="nav">

    <a href="#writing/"><img class="nav_img" src="/images/flamingo_writing.png" width="100px" height="100px" onMouseOver="this.src='/images/flamingo_card.png'" onMouseOut="this.src='/images/flamingo_writing.png'"/></a>

    <a href="#web/"><img class="nav_img" src="/images/deer_card.png" width="100px" height="100px"/></a>

    <a href="#design/"><img class="nav_img" src="/images/fox_design.png" width="100px" height="100px" onMouseOver="this.src='/images/fox_card.png'"
                            onMouseOut="this.src='/images/fox_design.png'"/></a>

    <a href="#the_rest/"><img class="nav_img" src="/images/rhino_rest.png" width="100px" height="100px" onMouseOver="this.src='/images/rhino_card.png'" onMouseOut="this.src='/images/rhino_rest.png'"/></a>

    <a href="#nice_art/"><img class="nav_img" src="/images/buffalo_nice.png" width="100px" height="100px" onMouseOver="this.src='/images/buffalo_card.png'" onMouseOut="this.src='/images/buffalo_nice.png'"/></a>

    <a href="#resume/"><img class="nav_img" src="/images/trex_resume.png" width="100px" height="100px" onMouseOver="this.src='/images/trex_card.png'" onMouseOut="this.src='/images/trex_resume.png'"/></a>


</div>
<!--header-->

<!--Examples-->
<h1 class="banner_h1">development examples</h1>
<h2 class="about_me">
    Below are a few examples of the coding work I've done.
</h2>

<div class="education">
<a href="http://www.casiesiekman.com" target="_blank" class="casie">c.a.s.i.e</a>

<h1 class="title">Personal Projects</h1>
<h2 class="job">Yoga App | MPLS, MN | 2016
    <br/>
    <a href="https://glacial-sierra-21379.herokuapp.com/" target="_blank">yoga4now</a>
</h2>
<p class="description">I created this app to help users find specific yoga poses that they needed at that moment to help them get back to feeling better!<br/>
    I used AngularJS, Bootstrap and Node. It is hosted on Heroku.
</p>
<br/>
<br/>
    <h2 class="job">Fantasy Hockey App | MPLS, MN | 2015
    <br/>
    <a href="https://serene-refuge-70202.herokuapp.com" target="_blank">Hockey Dream Team</a>
        </h2>
        <p class="description">I created this app for fun. You get a set number of points to pick your fantasy hockey team. It was created in 2015, so some of the players/coaches might be worth more or less today - don't judge me for making Yeo worth 3 points.<br/>
            I used AngularJS, Bootstrap and Node. It is hosted on Heroku.
        </p>

        <br/>
</div>


<div class="pmh">
    <a href="http://www.audiofile-engineering.com" target="_blank"><img class="resume_img" src="/images/audiofile@2x.png" width="350px"/></a>

    <h1 class="title">FE Development Intern</h1>
    <h2 class="job">AUDIOFILE ENGINEERING | MPLS, MN
        <br/>
        <a href="http://www.audiofile-engineering.com/spectre" target="_blank"> company website
    </h2>
    <p class="description">I used Coda to update the current code and used the Photoshop files from the Art Director to create new pages according to his standards.
    </p>

    <div class="web">
        <div class="wrap">
            <a href="/images/spectre2.png" target="_blank"><img class="screenshot" src="/images/spectre2.jpg" width="335px">
                <a href="/images/spectre2.png" target="_blank"><img class="screenshot" src="/images/spectre3.jpg" width="335px">
        </div>
    </div>

    <br/>
</div>

<div class="af">
    <a href="http://www.audiofile-engineering.com" target="_blank"><img class="resume_img" src="/images/audiofile@2x.png" width="350px"/></a>

    <h1 class="title">FE Development Intern</h1>
    <h2 class="job">AUDIOFILE ENGINEERING | MPLS, MN
        <br/>
        company task manager
    </h2>
    <br/>
    <p class="description">I used Coda to update the current code and used the Photoshop files from the Art Director to create new pages according to his standards.
Information blurred out to protect the innocent</p>
    <div class="web">
        <div class="wrap">
            <a href="/images/taskr1.png" target="_blank"><img class="screenshot" src="/images/taskr3.png" width="335px">
                <a href="/images/taskr2.png" target="_blank"><img class="screenshot" src="/images/taskr1.png" width="335px">
                    <a href="/images/taskr3.png" target="_blank"><img class="screenshot" src="/images/taskr2.png" width="335px">
        </div>
    </div>
</div>
<div class="footer">
    <a href="#first"><div class="home_btn">HOME</div></a>
</div>
